body{margin:0;}
.topnav {float:center;text-align:center;font-family:verdana;font-size:24px;padding-top:20px;}
.topnav a {float: middle;display: block;color: rgb(255, 255, 255);text-align:center;
  padding:30px;text-decoration:none;display:inline;}
.topnav a:hover {color: grey;}
.topnav .icon {display: none;}

.jumbotron{background-image: url("/img/bkg.jpg");background-attachment: fixed; background-size: cover; height:1000px;
            background-repeat: no-repeat;}

.intro{background-color:rgb(49, 54, 51);padding:50px;}

h1{color:rgb(0, 0, 0);text-align:center;font-family:verdana;font-size:60px;}
h2{color:rgb(255, 255, 255);text-align:center;font-family:verdana;font: size 40px;}
h3{color:rgb(255,255,255);font-family:verdana;text-align:center;font-size:24px}
p1{color:rgb(255, 255, 255);font-family:verdana;font-size:18px}
p2{color:rgb(255, 255, 255);font-family:verdana;font-size:15px;margin-left: 20px;}

a:link {color:white; text-decoration: none;}
a:visited{color:white;text-decoration: none;}

.column3{float:left;width:30%;padding:5px;}
.column2{float:left;width:45%;padding:5px;}

.row{background-color:rgb(49, 54, 51);}
.row:after{content:"";display:table;clear:both;}
.blog{background-color:rgb(49, 54, 51);}

.grid-container {background-color:rgb(49, 54, 51);display:grid;grid-template-columns: 70px 350px auto;gap:0px;padding:0px;}
.grid-container > div {text-align:left;padding:0px;gap:0px;font-size: 30px;}
  .item1 {grid-column:1/4}
  .item2 {grid-area:2/1}
  .item3 {grid-area:2/2}
  .item4 {grid-area:2/3/5/3}
  .item5 {grid-area:3/1}
  .item6 {grid-area:3/2}
  .item7 {grid-area:4/1}
  .item8 {grid-area:4/2}
@media only screen and (max-width: 600px)
{.item3{grid-area:2/2;}
  .item4{grid-area:4/1/4/4;}
  .item5{grid-area:3/1}
  .item6{grid-area:3/2;}
  .item7{grid-area:5/1;}
  .item8{grid-area:5/2;}
}
