@font-face {font-family:overpass;src:url(/fonts/Overpass-Light.ttf);}
@font-face {font-family:IBM;src:url(/fonts/IBMPlexSans-Medium.ttf);}

nav {
  width: 100%;
  text-align: center;
  margin: 0 auto;}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;}

nav li {
  display: inline-block;
  margin: 0 10px;}

nav a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;}

nav a:hover {background-color: #ddd;}

.body{margin: 0px;}
.header {
  position: relative;
  text-align: center;
  margin: 0px;}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);}
  
h1{color:rgb(0, 0, 0);text-align:center;font-family:IBM;font-size:60px;margin:0px;}
h2{color:rgb(0, 0, 0);text-align:center;font-family:IBM;font-size:50px;margin:0px;font-weight:normal;}
h3{color:rgb(0, 0, 0);font-family:IBM;text-align:left;font-size:36px;margin:0px;font-weight:normal;}
h4{color:rgb(0, 0, 0);text-align:center;font-family:IBM;font-size:32px;margin:0px;font-weight:normal;}
p1{color:rgb(0,0,0);font-family:overpass;font-size:28px;font-weight:normal;}
p2{color:rgb(0,0,0);font-family:overpass;font-size:24px;margin-left: 20px;text-align:right;}
p3{color:rgb(0,0,0);font-family:overpass;font-size:12px;font-weight:normal;text-align:right;}

a:link {color:rgb(0, 0, 0);text-decoration:none;font-weight:normal;}
a:visited{color:rgb(34, 34, 34);text-decoration:none;font-weight:normal;}

iframe {min-height: 500px;}

.column3{float:left;width:33%;padding:0px;gap:0px;}
.column2{float:left;width:49%;padding:0px;gap:0px;}

.row{background-color:rgba(255,255,255, 0.89);margin:0px;padding:0px;}
.row:after{content:"";display:table;clear:both;}
.strava-embed-placeholder{width:100%;min-height:500px;}

.route { grid-area: route; text-align:left;}
.distance { grid-area: distance; text-align:right; vertical-align: top;}
.vert { grid-area: vert; text-align:right; vertical-align: top;}
.difficulty{grid-area: difficulty; text-align:right; align-items:right; vertical-align: top;}
.favorite {grid-area: favorite; text-align:right; vertical-align: top;}

.route-grid {
  grid-template: "route distance distance vert difficulty favorite" 40px / 4fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 16px;
    font-family: Oxygen, sans-serif;
    line-height: 36px;
    display: grid;
    margin-left:20px;
    aspect-ratio:17/3;
    background-repeat: no-repeat;
    background-size: contain;}
.separator {
      display: flex;
      align-items: center;
      text-align: center;}
    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #000;}
    .separator:not(:empty)::before {
      margin-right: .25em;}
    .separator:not(:empty)::after {
      margin-left: .25em;}

@media only screen and (min-width: 601px) and (max-width: 850px){
h1{font-size:44px;}
h2{font-size:36px;}
h3{font-size:24px;}
h4{font-size:32px;}
.route-grid {
  grid-template: "route route route route route" 30px "distance distance vert difficulty favorite" 40px / 60px 1fr 1fr 1fr 1fr;}}
@media only screen and (min-width: 451px) and (max-width: 600px){
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:32px;}
p1{font-size:22px;}
p2{font-size:18px;}
p3{font-size:12px;}
.route-grid {
  grid-template: "route route route route route" 15px "distance distance vert difficulty favorite" 24px / 10px 1fr 1fr 1fr 1fr;}}

@media only screen and (max-width: 450px){
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:20px;}
h4{font-size:32px;}
p1{font-size:16px;}
p2{font-size:14px;}
p3{font-size:12px;}
.route-grid {
  grid-template: "route route route route route" 0px "distance distance vert difficulty favorite" 16px / 10px 1fr 1fr 1fr 1fr;}}
    
