.topnav {background-color: #fff;float:center;text-align:center;font-family:verdana;font-size:36px}
.topnav a {float: middle;display: block;color: #000;text-align:center;padding:30px;text-decoration:none;
  font-size:17px;display:inline;}
.topnav a:hover {color: grey;}
.topnav .icon {display: none;}


h1{color:navy;text-align:center;font-family:verdana;font-size:36px}
h2{color:navy;text-align:center;font-family:verdana;font-size:25px}
h3 {color:black;font-family:verdana;text-align:center;font-size:16px}
p1{color:black;font-family:verdana;font-size:18px}
p2{color:black;font-family:verdana;font-size:15px;margin-left: 20px;}

a:link {text-decoration: none;}

.column{float:left;width:30%;padding:5px;}
.row:after{content:"";display:table;clear:both;}
@media screen and (max-width:600px) {.column {width:100%;}}


.grid-container {display: grid;grid-template-columns: 70px 350px auto;gap: 0px;padding: 0px;}
.grid-container > div {text-align:left;padding:0px;gap:0px;font-size: 30px;}
  .item1 {grid-column:1/4}
  .item2 {grid-area:2/1}
  .item3 {grid-area:2/2}
  .item4 {grid-area:2/3/5/3}
  .item5 {grid-area:3/1}
  .item6 {grid-area:3/2}
  .item7 {grid-area:4/1}
  .item8 {grid-area:4/2}
@media only screen and (max-width: 600px)
{.item3{grid-area:2/2;}
  .item4{grid-area:4/1/4/4;}
  .item5{grid-area:3/1}
  .item6{grid-area:3/2;}
  .item7{grid-area:5/1;}
  .item8{grid-area:5/2;}
}
